.screen.screen-alert.template.modal
  .lightbox-content-container
    section
      h3.message
    section
      .button.button-cancel CANCEL
      .button.button-ok Ok
  //- Help Content Removed For later Use
  //- End of Help Content