.screen.screen-choose-characteristic.template(data-navigation-title='Characteristic')
  section.top-margin-breather
    h3 Choose Characteristic
    .ui-table-view
      ul.ui-table-view-content
        li.ui-table-view-item
          a(href='#') A Male
        li.ui-table-view-item
          a(href='#') A Female
        li.ui-table-view-item
          a(href='#') A Christian
        li.ui-table-view-item
          a(href='#') Jewish
        li.ui-table-view-item
          a(href='#') A Soccer Fan
      #scroll-panel-thumb-verticle.thumb-verticle-frame
        .thumb-verticle
          .thumb-graphics
  section
    h3 Or Create Your own
    .input-container
      input(type='text')
  .button.button-next Play Game
