.screen.screen-choose-device.template(data-navigation-title='Choose Game Type')
  ul.menu.top-margin-breather
    li.animation-peel
      a.button.button-single-device(href='#') Single Device
    figure.button-details.animation-peel Multiplayer game on single device
    li.animation-peel
      a.button.button-multi-device.button-call-server(href='#') Multi Device
    figure.button-details.animation-peel Multiplayer game on three separate devices
