.screen.screen-choose-roles.template(data-navigation-title='Your Roles')
  section.top-margin-breather
    h3 Steven Goldstone
    .ui-dropdown
      .ui-dropdown-input.input-container
        input(type='text', readonly='readonly')
      .ui-table-view.ui-dropdown-select(data-dropdown-maxshow='3')
        ul.ui-table-view-content
          li.ui-table-view-item
            a(href='#') Judge
          li.ui-table-view-item
            a(href='#') Pretender
          li.ui-table-view-item
            a(href='#') Non-Pretender
        #scroll-panel-thumb-verticle.thumb-verticle-frame
          .thumb-verticle
            .thumb-graphics
  section
    h3 Steven Goldstone
    .ui-dropdown
      .ui-dropdown-input.input-container
        input(type='text', readonly='readonly')
      .ui-table-view.ui-dropdown-select(data-dropdown-maxshow='3')
        ul.ui-table-view-content
          li.ui-table-view-item
            a(href='#') Judge
          li.ui-table-view-item
            a(href='#') Pretender
          li.ui-table-view-item
            a(href='#') Non-Pretender
        #scroll-panel-thumb-verticle.thumb-verticle-frame
          .thumb-verticle
            .thumb-graphics
  section
    h3 Steven Goldstone
    .ui-dropdown
      .ui-dropdown-input.input-container
        input(type='text', readonly='readonly')
      .ui-table-view.ui-dropdown-select(data-dropdown-maxshow='3')
        ul.ui-table-view-content
          li.ui-table-view-item
            a(href='#') Judge
          li.ui-table-view-item
            a(href='#') Pretender
          li.ui-table-view-item
            a(href='#') Non-Pretender
        #scroll-panel-thumb-verticle.thumb-verticle-frame
          .thumb-verticle
            .thumb-graphics
  .button.button-next Next
