.screen.screen-choose-questions.template(data-navigation-title='select Question')
  section.top-margin-breather
    h4
      translation(data-key='choose-questions-title')
    .ui-table-view
      ul.ui-table-view-content
      #scroll-panel-thumb-verticle.thumb-verticle-frame
        .thumb-verticle
          .thumb-graphics
  .button.button-next Submit Question
