.screen.screen-enter-question.template(data-navigation-title='Enter Question')
  section
    h3 Enter A Question About Being
  section
    .input-container
      textarea(maxlength='150')
      .char-count 150
  section
    .button.button-next Submit Question
  //- Help Content Removed For later Use
  .help-content
    section
      h3 THE JUDGE
      p
        | Think up questions that will tell you who is pretender and non-pretender. Personal questions to do with the particular players miss the point. Also try to avoid questions that can be answered by Google. Good questions are to do with feelings, experiences, typical opinions or false stereotypes. The game works best if the judge shares the characteristic.
  //- End of Help Content
