.screen.screen-game-over.template
  section
    img.title-image(src='img/gameover-simple@2x.png')
  section
    h4.text-message
  section
    table
      tr
        td
          | 1
          span st
        td.cell-score 22
        td.cell-name Steven Goldstone
      tr
        td
          | 2
          span nd
        td.cell-score 22
        td.cell-name Steven Goldstone
      tr
        td
          | 3
          span rd
        td.cell-score 22
        td.cell-name Steven Goldstone
  section
    .button.button-high-scores Scoreboard
  section
    .button.button-home Main Menu
