.screen.screen-game-scores.template
  .title-image
    img.title-image.hide(src='img/yourscore-simple@2x.png')
  h2.text-message
  table
    tr
      td
        | 1
        span st
      td 22
      td Steven Goldstone
    tr
      td
        | 2
        span nd
      td 22
      td Steven Goldstone
    tr
      td
        | 3
        span rd
      td 22
      td Steven Goldstone
  .button.button-next Play Again
  .button.button-high-scores Scoreboard
  .button.button-home Main Menu
