.screen.screen-game-options.template(data-navigation-title='Choose a Game')
  ul.menu.top-margin-breather
    li.animation-peel
      a.button.button-training-mode(href='#') Training Mode
    figure.button-details.animation-peel learn the game, single player against the computer
    li.animation-peel
      a.button.button-single-round.button-call-server(href='#') Quick Round
    figure.button-details.animation-peel Play a single round, 3 players, no scoring
    li.animation-peel
      a.button.button-three-rounds.button-call-server(href='#') Full Game
    figure.button-details.animation-peel 3 Players, 3 Rounds, this game is scored
