.screen.screen-high-scores.template
  .title-image
    img(src='img/highscores.png')
  table
    tr
      td
        | 1
        span st
      td --
      td --
    tr
      td
        | 2
        span nd
      td --
      td --
    tr
      td
        | 3
        span rd
      td --
      td --
    tr
      td
        | 4
        span th
      td --
      td --
    tr
      td
        | 5
        span th
      td --
      td --
    tr
      td
        | 6
        span th
      td --
      td --
    tr
      td
        | 7
        span th
      td --
      td --
    tr
      td
        | 8
        span th
      td --
      td --
    tr
      td
        | 9
        span th
      td --
      td --
    tr
      td
        | 10
        span th
      td --
      td --
