.screen.screen-how-to-play.template
  .top-content
    .title-image
      img(src='img/howtoplay.png')
    .text-wrapper
      section
        h3 The Judge
        article
          p
            | Think up questions that will tell you who is pretender and non-pretender. Personal questions to do with the particular players miss the point. Also try to avoid questions that can be answered by Google. Good questions are to do with feelings, experiences, typical opinions or false stereotypes. The game works best if the judge shares the characteristic.
      section
        h3 The Pretender
        article
          p
            | Answer as though you were the real thing. Do not answer with one or two words - a couple of sentences is best. Put yourself in the other kind of person's shoes.
      section
        h3 The Non-Pretender
        article
          p
            | Answer honestly: a couple of sentences is about right.  Do not 'show off' in-depth technical skills unless you are playing with others who also know some of the technicalities - just write what you would say to your friends.
      section
        h3 What's it all about?
        article
          p
            | Masquerade is based on a parlour game - The Imitation Game - adapted by Alan Turing for his 'Turing Test' for artificial intelligence. The Imitation Game is also being used for cutting edge social science research at Cardiff University; Masquerade is a simplified version.
          p
            | In 1950 the famous computer pioneer, Alan Turing, who cracked the U-boat Enigma code in the Second World War, invented what became known as the 'Turing Test'. In this, a hidden computer was to be programmed to pass as a human.
          p
            | Turing took the idea from a game in which a man pretended to be a woman. By playing lots of Imitation Games in different places on different topics and at different times, we try to understand how groups compare and change in their understanding of other groups -- for example, how does understanding of ethnic minorities vary from country to country and over time. You can find out more about this research at
            a(onclick='window.open(\'http://blogs.cf.ac.uk/imgame\', \'_system\');', href='#') http://blogs.cf.ac.uk/imgame
          p
            | Masquerade can be played for fun, in the pub or at home among friends. It also provides an insight into what it takes to pass as someone else and how to spot cheats on the internet.
          p Enjoy the challenge!
  .footer-content
    section
      figure
        img.visible-for-tablet(src='img/cardiff-uni-footer-tablet.png')
        img.visible-for-mobile(src='img/cardiff-uni-footer-mobile.png')
  .disclaimer-content
    section.disclaimer
      p
        | This research is sponsored by European Research Council Advanced Grant, 'A new method for cross-cultural and cross-temporal comparison of societies' (269463 IMGAME) and Proof of Concept Grant, 'IMGAME Commercial' (297467 IMCOM)
      p
        span.spanBold DISCLAIMER:
        | This App is for entertainment purposes only. No warranties are given (or implied) unless otherwise explicitly stated. Please refer to the terms of the end-user licence agreement ("EULA") at [
        a(onclick='window.open(\'http://blogs.cf.ac.uk/imgame\', \'_system\');', href='#') http://blogs.cf.ac.uk/imgame
        | ], this shall apply to you and your use of the Masquerade App ("App"). You should print or save a copy of the EULA for future reference.
      p
        | We licence use of the App to you on the basis of:
        ul
          li this disclaimer;
          li the EULA; and
          li
            | any rules or policies applied by any appstore provider or operator from whose site you downloaded the App, (together "the Applicable Rules").
      p We do not sell the App to you. We remain the owners of the App at all times.
      p
        | By downloading the App you agree to the Applicable Rules which will bind you. Your attention is drawn in particular to the limitations on liability contained in the EULA and the terms of any privacy policy referred to in the EULA.  If you do not agree to the Applicable Rules, please do not download the App.
      p
        | This App has not been developed to meet user's individual requirements. The App is supplied for domestic and private use only. Outputs from the App should not be relied upon in any way as a basis for making decisions or pursuing a course of action. This App is not intended as a substitute for appropriate professional advice or guidance.
      p
        | Users of the App are reminded to use the App responsibly and sensibly. You shall not use the App in any unlawful manner, for any unlawful purposes. You shall not use the App to transmit any material that is defamatory, offensive or otherwise objectionable. Users of the App accept all responsibility and liability for information and/or questions entered into the App. Cardiff University accepts no responsibility on any account whatsoever for any offence or distress caused to any person arising in any way from the use of the App or any information entered into it.
