.screen.screen-language.template(data-navigation-title='Language')
  section.top-margin-breather
    h3 Select Game Language
  section
    .ui-table-view.ui-table-view-language
      ul.ui-table-view-content
        li.ui-table-view-item
          a(href='#', data-value='0') English
        li.ui-table-view-item
          a(href='#', data-value='1') Francais
        li.ui-table-view-item
          a(href='#', data-value='2') Deutsch
        li.ui-table-view-item
          a(href='#', data-value='3') Espannol
        li.ui-table-view-item
          a(href='#', data-value='4') Italiano
      #scroll-panel-thumb-verticle.thumb-verticle-frame
        .thumb-verticle
          .thumb-graphics
  .button.button-confirm Confirm
  h5 *You can change this later in settings
