.screen.screen-md-choose-roles.template(data-navigation-title='Player Roles')
  .frame.frame-1
    section.top-margin-breather
      h3 Steven Goldstone
      .ui-dropdown
        .ui-dropdown-input.input-container
          input(type='text', readonly='readonly')
        .ui-table-view.ui-dropdown-select(data-dropdown-maxshow='3')
          ul.ui-table-view-content
            li.ui-table-view-item
              a(href='#') Judge
            li.ui-table-view-item
              a(href='#') Pretender
            li.ui-table-view-item
              a(href='#') Non-Pretender
          #scroll-panel-thumb-verticle.thumb-verticle-frame
            .thumb-verticle
              .thumb-graphics
    section
      h3 Steven Goldstone
      .ui-dropdown
        .ui-dropdown-input.input-container
          input(type='text', readonly='readonly')
        .ui-table-view.ui-dropdown-select(data-dropdown-maxshow='3')
          ul.ui-table-view-content
            li.ui-table-view-item
              a(href='#') Judge
            li.ui-table-view-item
              a(href='#') Pretender
            li.ui-table-view-item
              a(href='#') Non-Pretender
          #scroll-panel-thumb-verticle.thumb-verticle-frame
            .thumb-verticle
              .thumb-graphics
    section
      h3 Steven Goldstone
      .ui-dropdown
        .ui-dropdown-input.input-container
          input(type='text', readonly='readonly')
        .ui-table-view.ui-dropdown-select(data-dropdown-maxshow='3')
          ul.ui-table-view-content
            li.ui-table-view-item
              a(href='#') Judge
            li.ui-table-view-item
              a(href='#') Pretender
            li.ui-table-view-item
              a(href='#') Non-Pretender
          #scroll-panel-thumb-verticle.thumb-verticle-frame
            .thumb-verticle
              .thumb-graphics
    .button.button-next.button-call-server Next
  .frame.frame-2.frame-waiting
    section.top-margin-breather
      h3 Waiting for Roles
      include waiting-for-server.jade
  .frame.frame-3
    section.top-margin-breather
      h3 Acknowledge Roles
      h4
    .button.button-next.button-call-server Next
