.screen.screen-md-waiting-for-players.template(data-navigation-title='')
  .frame.frame-waiting
    section.top-margin-breather
      h3 Players Acknowledging Roles &amp; Characteristic
    canvas#waiting-for-server(width='391px', height='391px')