.screen.screen-multi-device.template(data-navigation-title='Multi Device Game')
  ul.top-margin-breather
    li.animation-peel
      h3 You are playing as
      .input-container
        input(type='text', readonly='readonly')
        a.button.button-profile(href='#')
  section
    .button.button-create.button-call-server.animation-peel Create a game
  section
    .button.button-join.animation-peel Join a game
