.screen.screen-navigation-bar.template
  section
    .nav-back.color-background-floodable
    .button.button-pause.button-align-left.screen-navigation-bar__button
      svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='60px', height='60px', viewbox='0 0 60 60', enable-background='new 0 0 60 60', xml:space='preserve')
        g
          circle(opacity='1', cx='30', cy='30', r='30')
          g
            rect(x='21', y='19.649', fill='#FFFFFF', width='6.525', height='20.701')
            rect(x='32.476', y='19.649', fill='#FFFFFF', width='6.524', height='20.701')
    .button.button-back.button-align-left.screen-navigation-bar__button
      svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='60px', height='60px', viewbox='0 0 60 60', enable-background='new 0 0 60 60', xml:space='preserve')
        g
          circle(opacity='1', cx='30', cy='30', r='30')
          polygon(fill='#FFFFFF', points='45.288,27.109 26.703,27.109 32.276,21.537 27.992,17.252 15.288,29.956 15.364,30.032 15.353,30.044 28.057,42.748 32.34,38.463 27.043,33.167 45.288,33.167 ')
    header
      h4.spanBold.nav-header-title Main Menu
    .help
      .lightbox-content-container
    .button.button-help.button-align-right.screen-navigation-bar__button
      svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='60px', height='60px', viewbox='0 0 60 60', enable-background='new 0 0 60 60', xml:space='preserve')
        g
          circle(opacity='1', cx='30', cy='30', r='30')
          g
            path(fill='#FFFFFF', d='M26.529,33.632v-1.466c0-1.114,0.228-2.055,0.682-2.822c0.455-0.767,1.263-1.514,2.422-2.242c0.92-0.58,1.583-1.103,1.986-1.569c0.403-0.466,0.606-1,0.606-1.603c0-0.477-0.217-0.855-0.649-1.134c-0.432-0.278-0.994-0.418-1.688-0.418c-1.717,0-3.723,0.608-6.02,1.824L21.5,19.565c2.83-1.614,5.785-2.421,8.866-2.421c2.534,0,4.525,0.557,5.968,1.671c1.443,1.114,2.166,2.632,2.166,4.552c0,1.376-0.322,2.566-0.964,3.573c-0.642,1.005-1.668,1.958-3.077,2.856c-1.194,0.773-1.941,1.339-2.243,1.696c-0.3,0.359-0.452,0.782-0.452,1.271v0.87H26.529zM25.796,39.6c0-1.046,0.304-1.853,0.913-2.421c0.608-0.568,1.503-0.853,2.685-0.853c1.137,0,2.009,0.287,2.617,0.861c0.608,0.574,0.912,1.379,0.912,2.413c0,1.034-0.315,1.836-0.946,2.404c-0.631,0.568-1.493,0.853-2.583,0.853c-1.125,0-2.006-0.282-2.643-0.844C26.115,41.449,25.796,40.646,25.796,39.6z')
          polygon(transform='rotate(0,30,30)', fill='rgba(255,255,255,1)', points='45.029,21.493 38.507,14.969 29.998,23.478 21.493,14.972 14.971,21.494 23.477,30 14.971,38.506 21.493,45.028 29.998,36.522 38.507,45.031 45.029,38.509 36.52,30 ')
    .connect-to-server
      img.loading(src='img/ajax_loader.gif', width='20px', height='20px')