.screen.screen-pause.template.modal
  .lightbox-content-container
    section
      h3 Game Paused
    section
      h6
    section
      .button.button-resume Resume Game
    section
      .button.button-exit Exit Game
    //- Help Content Removed For later Use
    //- End of Help Content
