.screen.screen-ready.template
  img.title-image.hide(src='img/judge-simple@2x.png')
  img.title-image.hide(src='img/pretender-simple@2x.png')
  img.title-image.hide(src='img/non-pretender-simple@2x.png')
  h2 Hey, 
  h3 Are you ready to enter your question?
  h4
  .button.button-next Yes, I'm Ready
  //- //
  //-     <embed src="img/judge.svg" type="image/svg+xml" class="hide"/>
  //-       <embed src="img/pretender.svg" type="image/svg+xml" class="hide" />
  //-       <embed src="img/non-pretender.svg" type="image/svg+xml" class="hide" />
      
