.screen.screen-round-end.template
  section
    img.title-image.hide(src='img/roundover-simple@2x.png')
    img.title-image.hide(src='img/itsallover-simple@2x.png')
  section
    h4.text-message
  section
    .button.button-next Next
  section
    .button.button-next-round Play Again
  section
    .button.button-review Review Answers
  section
    .button.button-home Main Menu
