.screen.screen-settings.template(data-navigation-title='Settings')
  .frame.frame-1
    ul.menu.top-margin-breather
      li
        a.button.button-reset-scores(href='#') Reset Masquerade
      li
        a.button.button-profile.button-next(href='#') My Profile
      li
        a.button.button-log(href='#') Open Log
      li
        a.button.button-reset-log(href='#') Reset Log   
      h5 Character Limit
      li
        a.button.button-character-short(href='#') Short (150)
      li
        a.button.button-character-long(href='#') Long (400)
  .frame.frame-2
    section
      .input-container
        textarea
