include ../views/navigation-bar.jade
include ../views/choose-characteristic.jade
include ../views/choose-roles.jade
include ../views/enter-answer.jade
include ../views/enter-question.jade
include ../views/game-scores.jade
include ../views/high-scores.jade
include ../views/home.jade
include ../views/how-to-play.jade
include ../views/ready.jade
include ../views/reveal.jade
include ../views/round-end.jade
include ../views/who-is-playing.jade
include ../views/game-options.jade
include ../views/choose-questions.jade
include ../views/game-scores.jade
include ../views/game-over.jade
include ../views/settings.jade
include ../views/profile.jade
include ../views/language.jade
include ../views/choose-device.jade
include ../views/multi-device.jade
include ../views/md-join-game.jade
include ../views/md-choose-roles.jade
include ../views/md-choose-characteristic.jade
include ../views/md-acknowledge-role.jade
include ../views/md-acknowledge-characteristic.jade
include ../views/md-enter-question.jade
include ../views/md-waiting-for-players.jade
include ../views/md-waiting-for-judgement.jade
include ../views/md-enter-answer.jade
include ../views/md-reveal.jade
include ../views/md-waiting.jade
include ../views/md-round-game-end.jade
include ../views/review.jade
include ../views/pause.jade   
include ../views/alert.jade