.screen.screen-who-is-playing.template(data-navigation-title='Who\'s Playing?')
  ul.top-margin-breather
    li
      h3 Player 1
      .input-container
        input(type='text')
    li
      h3 Player 2
      .input-container
        input(type='text')
    li
      h3 Player 3
      .input-container
        input(type='text')
  .button.button-next Next
