
<!-- General Scripts -->
script(type='text/javascript', src='assets/js/utils.js')
script(type='text/javascript', src='assets/js/polyfills.js')

<!-- Application Scripts -->
script(type='text/javascript', src='assets/js/event.js')
script(type='text/javascript', src='assets/js/eventdispatcher.js')
script(type='text/javascript', src='assets/js/globals.js')
script(type='text/javascript', src='assets/js/localstoragemanager.js')
script(type='text/javascript', src='assets/js/gamemanager.js')
script(type='text/javascript', src='assets/js/mdgamemanager.js')
script(type='text/javascript', src='assets/js/colourmanager.js')
script(type='text/javascript', src='assets/js/translationmanager.js')
script(type='text/javascript', src='assets/js/interactiveelement.js')
script(type='text/javascript', src='assets/js/screen.js')
script(type='text/javascript', src='assets/js/mdscreen.js')
script(type='text/javascript', src='assets/js/waitingcircle.js')
script(type='text/javascript', src='assets/js/rootviewcontroller.js')

<!-- ScrollPanel Scripts -->
script(type='text/javascript', src='assets/scripts/sequence/utils/Utilities.js')
script(type='text/javascript', src='assets/scripts/sequence/display/Animator.js')
script(type='text/javascript', src='assets/scripts/sequence/display/Geom.js')
script(type='text/javascript', src='assets/scripts/sequence/display/InputController.js')
script(type='text/javascript', src='assets/scripts/sequence/display/ScrollPanelController.js')
script(type='text/javascript', src='assets/scripts/sequence/display/ScrollPanelViewController.js')
script(type='text/javascript', src='assets/js/uilistview.js')
script(type='text/javascript', src='assets/js/uidropdownview.js')



<!-- Screens -->
script(type='text/javascript', src='assets/js/alertscreen.js')
script(type='text/javascript', src='assets/js/pausescreen.js')
script(type='text/javascript', src='assets/js/navigationbar.js')
script(type='text/javascript', src='assets/js/homescreen.js')
script(type='text/javascript', src='assets/js/howtoplayscreen.js')
script(type='text/javascript', src='assets/js/highscoresscreen.js')
script(type='text/javascript', src='assets/js/whoisplayingscreen.js')
script(type='text/javascript', src='assets/js/choosecharacteristicscreen.js')
script(type='text/javascript', src='assets/js/chooserolesscreen.js')
script(type='text/javascript', src='assets/js/readyscreen.js')
script(type='text/javascript', src='assets/js/enterquestionscreen.js')
script(type='text/javascript', src='assets/js/enteranswerscreen.js')
script(type='text/javascript', src='assets/js/revealscreen.js')
script(type='text/javascript', src='assets/js/roundendscreen.js')
script(type='text/javascript', src='assets/js/gameoptions.js')
script(type='text/javascript', src='assets/js/choosequestionsscreen.js')
script(type='text/javascript', src='assets/js/gamescoresscreen.js')
script(type='text/javascript', src='assets/js/reviewscreen.js')
script(type='text/javascript', src='assets/js/gameoverscreen.js')
script(type='text/javascript', src='assets/js/settingsscreen.js')
script(type='text/javascript', src='assets/js/profilescreen.js')
script(type='text/javascript', src='assets/js/languagescreen.js')
script(type='text/javascript', src='assets/js/choosedevicescreen.js')
script(type='text/javascript', src='assets/js/multidevicescreen.js')
script(type='text/javascript', src='assets/js/mdjoingamescreen.js')
script(type='text/javascript', src='assets/js/mdchooserolesscreen.js')
script(type='text/javascript', src='assets/js/mdchoosecharacteristicscreen.js')
script(type='text/javascript', src='assets/js/mdacknowledgerolescreen.js')
script(type='text/javascript', src='assets/js/mdenterquestionscreen.js')
script(type='text/javascript', src='assets/js/mdwaitingforplayersscreen.js')
script(type='text/javascript', src='assets/js/mdacknowledgecharacteristicscreen.js')
script(type='text/javascript', src='assets/js/mdenteranswerscreen.js')
script(type='text/javascript', src='assets/js/mdrevealscreen.js')
script(type='text/javascript', src='assets/js/mdwaitingscreen.js')
script(type='text/javascript', src='assets/js/mdroundgameendscreen.js')
script(type='text/javascript', src='assets/js/mdwaitingforjudgementscreen.js')



<!-- Main -->
script(type='text/javascript', src='assets/js/masquerade.js')